body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.meme-canvas {
    border: 1px black solid;
}

.img-item:hover {
    cursor: pointer;
    opacity: 0.9;
}

input {
    align-self: center;
}